.container{
    position: relative;
    height: 500px;
}

.container img{
    position: absolute;
    left: 0;
    height: 200px;
    width: 200px;
    position: relative;
    opacity: 0;
    transition: 1s;
}

.bullets{
    text-align: center;
}

.bullet-single{
    margin: 0 8px;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #aca9a9;
}

.active-bullet{
    background-color: #302f2f;
}