*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

body{
    background-color: #3b5998;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

h1{
    color: white;
    font-size: 2.4rem;
}

span{
    color: white;
    font-size: 1.6rem;
}

